@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    padding-top: 50px;
    margin: 0;
    padding: 0;
    background: url(../image/Fresh.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Helvetica Neue', sans-serif;
    padding-top: 10%;
    padding-left: 10%;
    color: white;
}

.loginbox {
    width: 700px;
    height: 500px;
    background: rgba(0, 0, 0, 0.664);
    padding: 10px 30px;
    transform: translate(-50%, -50%);
    margin-top: 250px;
    top: 20%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox a:hover {
    color: #ffc107;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}