<!doctype html>
<html>
<head>
   <title>Beyond Voice by FRSH</title>
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
   <style>
      body         { padding-top:80px; }
   </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

   <h1><span class="fa fa-sign-in"></span> Add client</h1>
   <a href="/profile" class="btn btn-info">Back to profile</a>

   <form action="/profile/frsh/clients/add-client" method="post">
      <label>Client / Company name: </label>
      <input type="text" class="form-control" name="clientName" value=''>

      <input type="submit" value="Save client" class="btn btn-info"/>
   </form>

   <div class="text-center">
      <p><center>Fresh Digital Group Inc.</center></p>
   </div>

</div>
</div>
</body>
</html>
