<!doctype html>
<html>
<head>
    <title>Beyond Voice by FRSH</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/src/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Beyond Voice by FRSH</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
        <a href="/auth/amazon" class="btn btn-primary"><span class="fa fa-amazon"></span> Amazon</a>
        <a href="/auth/microsoft" class="btn btn-primary"><span class="fa fa-windows"></span> Microsoft</a>
    </div>
</div>
<footer>
    <% include ./partials/footer %>
</footer>
<% include ./partials/scripts %>
</body>
</html>
