<!doctype html>
<html>

<head>
    <title>Beyond Voice by FRSH</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/src/css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <% include ./partials/navbar %>
    </header>
    <div class="container">

        <div class="modal-dialog text-context">
            <div class="col-sm-8 main-section">


                <div class="loginbox">

                    <h1>
                        <span class="fa fa-lock"></span> Beyond Voice by FRSH</h1>

                    <p>Login or Register with:</p>
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <a href="/login" class="btn btn-default">
                        <span class="fa fa-user"></span> Local Login</a>
                    &nbsp &nbsp

                    <a href="/signup" class="btn btn-default">
                        <span class="fa fa-user"></span> Local Signup</a>
                    <br />
                    <br /> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp

                    <a href="/auth/facebook" class="btn btn-primary">
                        <span class="fa fa-facebook"></span> Facebook</a>
                    &nbsp &nbsp &nbsp

                    <a href="/auth/twitter" class="btn btn-info">
                        <span class="fa fa-twitter"></span> Twitter</a>
                    &nbsp &nbsp &nbsp

                    <a href="/auth/google" class="btn btn-danger">
                        <span class="fa fa-google"></span> Google</a>
                    <br />

                    <br /> &nbsp&nbsp&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    <a href="/auth/amazon" class="btn btn-primary">
                        <span class="fa fa-amazon"></span> Amazon</a>
                    &nbsp &nbsp &nbsp &nbsp &nbsp

                    <a href="/auth/microsoft" class="btn btn-primary">
                        <span class="fa fa-windows"></span> Microsoft</a>
                    <footer>
                        <% include ./partials/footer %>
                    </footer>
                    <% include ./partials/scripts %>
                </div>
            </div>
        </div>
    </div>

</body>

</html>