<!doctype html>
<html>

<head>
    <title>Beyond Voice by FRSH</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="/src/css/login.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">

            <h1><span class="fa fa-sign-in"></span> Login</h1>
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 style="font-size:250%; color:white ; font-family:Helvetica "> Welcome to the Data Managerss PlatFrom for Fresh Digtal </h1>

                    <% if (message.length > 0) { %>
                        <div class="alert alert-danger">
                            <%= message %>
                        </div>
                    <% } %>

                    <!-- LOGIN FORM -->
                    <div class="loginbox ">
                        <h1>Data Manager Platform</h1>

                        <form action="/login" method="post">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email" placeholder="Enter your Email ">
                            </div>
                            <br />
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Enter your password ">
                            <input type="submit" class="btn btn-warning btn-lg" name="name" value="Login" />
                        </form>
                        <a href="/signup">Create New Account &nbsp &nbsp &nbsp &nbsp </a>
                        <a href="/">Go to Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <% include ./partials/footer %>
    </footer>
    <% include ./partials/scripts %>
</body>

</html>