<!doctype html>
<html>

<head>
    <title>Beyond Voice by FRSH</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="/src/css/signup.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <% include ./partials/navbar %>
    </header>

    <div class="modal-dialog text-context">
        <div class="col-sm-8 main-section">

            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>

                    <!-- LOGIN FORM -->
                    <div class="loginbox ">
                        <h1>Data Manager Platform</h1>

                        <form action="/signup" method="post">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password">
                            <label>First name</label>
                            <input type="text" class="form-control" name="firstName">
                            <label>Last name</label>
                            <input type="text" class="form-control" name="lastName">
                            <label>Account name</label>
                            <input type="text" class="form-control" name="accountName">

                            <br />&nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                        </form>
                        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                        <a href="/">Go to Home Page</a>
                        <footer>
                            <% include ./partials/footer %>
                        </footer>
                        <% include ./partials/scripts %>

                    </div>

        </div>

</body>


</html>