<!doctype html>
<html>

<head>
    <title>Beyond Voice by FRSH</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="/src/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <% include ../../partials/navbar %>
    </header>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
            <h1><span class="fa fa-sign-in"></span>Content</h1>
            <h4>Content:</h4>

            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
            <% } %>

            <% if (data) { %>
                <form action="/cms/contents/<%=data._id%>/update" enctype="multipart/form-data" method="put">
            <% } else { %>
                <form action="/cms/contents/new" enctype="multipart/form-data" method="post">
            <% } %>
                <label for="name">Enter name: </label>
                <% if (data) { %>
                    <input type="text" class="form-control" name="name" value="<%= data.name%>">
                <% } else { %>
                    <input type="text" class="form-control" name="name">
                <% } %>
                <% if (data) { %>
                    <label for="location">Location: </label>
                    <input type="text" class="form-control" name="name" value="<%= data.content_location%>" disabled>
                <% } %>
                <label for="file">File: </label>
                <input id="file" class="form-control" type="file" name="file">
                <input type="submit" value="Save changes" class="btn btn-info" />
            </form>
        </div>
    </div>
    <footer>
        <% include ../../partials/footer %>
    </footer>
    <% include ../../partials/scripts %>
</body>

</html>